.MainWrapper {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -100px;
}
.iframeLogo {
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: transparent;
  right: 0.5%;
  bottom: 1%;
}
.CryptoDetails {
  position: absolute;
  left: 5%;
  top: 18%;
}
.Calculator {
  padding: 0 3rem;
  width: 480px;
  height: 650px;
  border: 1px solid #d2d2d2;
  background: linear-gradient(
    155.46deg,
    rgba(196, 196, 196, 0.3) -5.58%,
    rgba(196, 196, 196, 0.258893) 26.44%,
    rgba(196, 196, 196, 0) 103.09%
  );
  backdrop-filter: blur(6px);
  border-radius: 70px;
  margin-top: 64px;
}
.Calculator > h4 {
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 44px;
  margin-top: 2rem;
}
.FormWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.Label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-left: 2px;
  line-height: 7px;
  color: #d2d2d2;
  transform: translateY(35px);
}
/* .Price, */
/* .Amount:hover + label {
  font-size: 16px;
  margin-left: 0;
  transform: translateY(-35px);
} */
/* .Amount:focus + .Label {
  background-color: red;
  display: none !important;
} */
/* .Price,
.Amount {
  width: 100%;
  margin: 34px 0;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #c4c4c4;
  font-size: 18px;
  margin-top: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  position: relative;
  z-index: 1;
} */
.FormWrapper > .InputWrapper > input:focus {
  outline: none;
}

/* .FormWrapper > .InputWrapper > input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 60px;
  color: #d2d2d2;
  position: relative;
  z-index: 999;
  display: block;
} */
.ButtonNight,
.Button {
  background: rgba(23, 23, 23, 0.4);
  color: #fff;
  border-radius: 100px;
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 13px;
  border: none;
  width: 35%;
  padding: 0.8rem 1rem;
  cursor: pointer;
  text-align: center;
}
.Button {
  color: #000;
  background: rgba(196, 196, 196, 0.6);
}
.iframe {
  cursor: -webkit-grab !important;
  cursor: grab !important;
}
.EclipsSm,
.EclipsLg,
.EclipsMd {
  position: absolute;
}
.EclipsLg {
  -webkit-animation: rotating 30s linear infinite;
  margin-left: -845px;
  margin-top: -203px;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.EclipsSm {
  margin-right: -369px;
  margin-top: -511px;
}
.EclipsMd {
  -webkit-animation: rotatingMd 30s linear infinite;
  margin-right: -636px;
  margin-bottom: -331px;
}
@-webkit-keyframes rotatingMd {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
/* .ResultWrapper {
  margin-top: 10rem;
} */
.TotalValue,
.Difference,
.MarketCap {
  margin: 8px 0;
}
.TotalValue > p,
.Difference > p,
.MarketCap > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  margin: 4px 0;
  font-size: 13px;
  line-height: 10px;
}
.TotalValue > span,
.Difference > span,
.MarketCap > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
}
.InputWrapper {
  position: relative;
}
.InputWrapper > span {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  right: 0;
  top: 16px;
}
@media only screen and (max-width: 1366px) {
  .Calculator {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1200px) {
  .Calculator {
    width: 40%;
    height: auto;
    margin-top: 70px;
    padding: 16px 35px;
  }
  .Calculator > h4 {
    margin-top: 0.5rem;
  }
  .FormWrapper {
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  .CryptoDetails {
    top: 11%;
    width: 100%;
  }
  .CryptoDetails .ResultWrapper {
    display: flex;
    width: 100%;
  }
  .Calculator {
    width: 60%;
    height: auto;
    margin-top: 130px;
    padding: 16px 35px;
  }
  .FormWrapper {
    margin: 0;
  }
  .TotalValue,
  .Difference,
  .MarketCap {
    margin-right: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .MainWrapper {
    width: 100%;
    height: calc(100% - 29%);
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
  }
  .CryptoDetails {
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
  }
  .ResultWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  .TotalValue,
  .Difference,
  .MarketCap {
    margin: 0 6px 1rem 0;
  }
  .TotalValue > span,
  .Difference > span,
  .MarketCap > span {
    font-size: 14px;
  }
  .Calculator {
    width: 90%;
    height: 456px;
    margin: 20px;
    padding: 0 20px;
    border-radius: 40px;
  }
  .Calculator > h4 {
    font-weight: 400;
    margin: 28px 0 0 0;
    font-size: 26px;
    line-height: 31px;
  }
  .FormWrapper {
    margin-top: 28px;
  }
  .FormWrapper > label {
    margin-top: 15px;
  }
  .Price,
  .Amount {
    font-size: 15px;
    margin: 10px 0 19px 0;
  }
  .InputWrapper > span {
    font-size: 15px;
    top: 3px;
  }
  .Button,
  .ButtonNight {
    font-size: 15px;
    width: 38%;
  }
}

@media only screen and (max-width: 420px) {
  .MainWrapper {
    height: calc(100% - 25%);
  }
  .CryptoDetails {
    margin-bottom: 1%;
  }
  .Calculator {
    width: 90%;
    height: auto;
    padding: 18px 20px 5px 20px;
    border-radius: 42px;
    margin-top: 0;
  }
  .FormWrapper {
    margin-top: 0;
  }
  .FormWrapper > label {
    font-size: 12px;
  }
  .Calculator > h4 {
    margin: 0;
    font-size: 26px;
    line-height: 29px;
  }
  .Price,
  .Amount {
    font-size: 12px;
    margin: 0;
  }
  .InputWrapper > span {
    font-size: 12px;
    top: 4px;
  }
  .Button,
  .ButtonNight {
    font-size: 12px;
    width: 32%;
    height: auto;
    line-height: 5px;
    margin-top: 16px;
  }
  .Calculator .ResultWrapper {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 6px auto;
  }
  .TotalValue,
  .Difference,
  .MarketCap {
    margin: 0 25px 8px 0;
  }
  .TotalValue > p,
  .Difference > p,
  .MarketCap > p {
    font-size: 12px;
    margin-top: 6px;
    line-height: 0px;
  }
  .TotalValue > span,
  .Difference > span,
  .MarketCap > span {
    font-size: 12px;
  }
}
@media only screen and (max-width: 360px) {
  .MainWrapper {
    justify-content: flex-start;
  }
  .Calculator {
    width: 90%;
    height: auto;
    margin: 20px;
    padding: 18px 20px 5px 20px;
    border-radius: 46px;
  }
  .FormWrapper {
    margin-top: 0;
  }
  .FormWrapper > label {
    font-size: 10px;
  }
  .Calculator > h4 {
    margin: 10px 0 0 0;
    font-size: 19px;
    line-height: 21px;
  }
  .Price,
  .Amount {
    font-size: 10px;
    margin: 0;
  }
  .InputWrapper > span {
    font-size: 10px;
    top: 4px;
  }
  .Button,
  .ButtonNight {
    font-size: 10px;
    width: 36%;
    height: auto;
    line-height: 2px;
    margin-top: 3px;
  }
  .ResultWrapper {
    justify-content: flex-start;
    width: 100%;
    margin: 6px auto;
  }
  .TotalValue,
  .Difference,
  .MarketCap {
    margin: 0 25px 1px 0;
  }
  .TotalValue > p,
  .Difference > p,
  .MarketCap > p {
    font-size: 10px;
    margin-top: 6px;
    line-height: 0px;
  }
  .TotalValue > span,
  .Difference > span,
  .MarketCap > span {
    font-size: 10px;
  }
}
